@tailwind base;
@tailwind components;
@tailwind utilities;

.poster {
    width: 26rem;       
    height: 15rem;      
    object-fit: cover;  
    border-radius: 1rem; 
    transition: transform 0.4s ease;
}

@keyframes marquee-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes marquee-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

.animate-marquee-left {
    animation: marquee-left 40s linear infinite;
}

.animate-marquee-right {
    animation: marquee-right 45s linear infinite;
}

@media (max-width: 768px) {
    .poster {
        width: 14rem;   /* lebih kecil di HP */
        height: 8rem;
    }
}